//@import "hive_thm_bs/Resources/Private/Assets/Bootstrap/Scss/variables";
@import "hive_thm_custom/Resources/Private/Assets/Scss/Custom/custom";

.card__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@if variable-exists(grid-gutter-width-base) {
  .card {
    margin-bottom: $grid-gutter-width-base;
  }
}

@if variable-exists(brand-secondary) {
  .card-outline-secondary {
    background-color: transparent;
    border-color: $brand-secondary;
  }

  .card-secondary {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
  }
}

@if variable-exists(brand-tertiary) {
  .card-outline-tertiary {
    background-color: transparent;
    border-color: $brand-tertiary;
  }

  .card-tertiary {
    background-color: $brand-tertiary;
    border-color: $brand-tertiary;
  }
}